@(message:String, data:java.util.List[java.util.List[String]], header:java.util.List[String])
@makeTable(data:java.util.List[java.util.List[String]], header:java.util.List[String]) = {
    <table>
        <tr>
            @for(item <- header){
                <th>@item</th>
            }
        </tr>
        @for(row <- data){
            <tr>
                @for(item <- row){
                    <td>@item</td>
                }
            </tr>

        }
    </table>
}
@main("Index Page", "Hello", "copyright 2020."){
    <p>@message</p>
    @makeTable(data, header)
}